@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-purple-600: hsl(238, 40%, 52%);
  --color-purple-200: hsl(239, 57%, 85%);
  --color-pink-400: hsl(358, 79%, 66%);
  --color-pink-200: hsl(357, 100%, 86%);
  --color-grey-800: hsl(212, 24%, 26%);
  --color-grey-500: hsl(211, 10%, 45%);
  --color-grey-100: hsl(223, 19%, 93%);
  --color-grey-50: hsl(228, 33%, 97%);
  --color-white: hsl(0, 100%, 100%);

  --font-rubik: "Rubik", sans-serif;
}

@layer base {
  body {
    @apply font-rubik font-normal bg-grey-100;
  }

  body:has(div[aria-modal="true"]) {
    @apply overflow-hidden;
  }
}

@layer components {
  .text-area {
    @apply p-2 border border-grey-100 outline-purple-600 resize-none;
  }

  .btn-fill {
    @apply transition rounded-lg uppercase bg-purple-600 text-white hover:opacity-90 focus:opacity-90 not-disabled:cursor-pointer disabled:bg-grey-500 disabled:hover:opacity-100 disabled:focus:opacity-100;
  }
}
